.card-img{
    // height: 300px!important;
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
  
.card-body {
    height: 200px !important;
    max-height: 200px !important;
    min-height: 200px !important;
}
